*{
 padding: 0px;
 margin: 0px;
}


h1{
    background-color: #000;
    color: #fff;
    text-align: center;
}


p{
    border: 1px solid red;
    padding: 20px 40px;
    padding-top:  20px;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    margin: 40px 10%;
    width: 300px;
    display: inline-block;
}

.navbar{
    list style:  none;
}

.navbar li{
    display: inline-block;
    margin:  o 6.5%;
}

.navbar a{
    text-decoration:  none ;
    transition: 0.4s all linear ;
}

.navbar .line{
  height: 3px;
  width: 0px;
  background-color:  green ;
  transition:  0.4s all linear;
  margin-left: auto;
}
 
.first_paragraph{
     box-sizing: content-box;
     font-weight: 800;
     font-style: italic;
     text-transform: capitalize;
}



.second_paragraph{
    box-sizing: border-box;
    letter-spacing: 2px;
    line-height: 30px;
    text-shadow: #eb92ff 3px  3px;
}

a{
    color: green;
    transition: 0,4s all linear;
}

a:hover{
    color: tomato;
}
 